.vision-area {
    position: relative;
    z-index: 1;
    padding-top: 215px; 
    background: linear-gradient(rgb(15 11 67), rgba(13, 9, 59, 1));
}
.vision-area img.visionShape {
    position: absolute;
    top: 115px;
    left: -160px;
    /* max-height: 280px; */
}
.vision-area img.circleShape {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%);
    z-index: -1;
}
.section-title {
    margin-bottom: 100px;
}

.section-title h3 {
    font-size: 48px;
    margin: 0;
    text-transform: uppercase;
}
.content-block.btm_vision {
    min-height: 595px;
}












